/* Estilo global para que el fondo cubra toda la página */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #81c583; /* Fondo verde para toda la página */
}

/* Contenedor Principal */
.containerPrincipal {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #81c583; /* Fondo verde del contenedor */
  box-shadow: none; /* Quitar sombra */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cabecera */
h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}



/* Contenedor de Contenido */
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%; /* Ajustar ancho para que no sobresalga */
}

/* Contenedor de Imagen */
.img-container {
  width: 450px; 
  height: 500px; 
  background-image: url('mapache.png'); /* Reemplazar con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  margin: 20px;
  border-radius: 15px;
}

/* Contenedor de Formularios */
.form-containerPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-left: 30px;
  max-width: 400px;
}

/* Contenedor de título y botones combinados */
.title-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px; /* Espacio entre el título y los botones */
}

.title {
  font-size: 55px;
  color: rgba(117, 66, 8, 0.904);
  font-weight: bold;
  font-style: italic;
}

/* Botones de Navegación */
.buttons-nav {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background-color: white;
  color: rgba(117, 66, 8, 0.904);
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.3em;
  border: 2px solid rgba(117, 66, 8, 0.904);
  border-radius: 8px;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: rgba(117, 66, 8, 0.904);
  color: white;
}

/* Botones de Acción */
.buttons {
  margin-top: 15px; /* Ajustar espacio entre botones */
  display: flex;
  gap: 20px;
}

.register-btn, .inicio-sesion-btn {
  background-color: #d4a017; 
  color: white;
  padding: 10px 20px;
  border: 2px solid #8e6b23;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.register-btn:hover, .inicio-sesion-btn:hover {
  background-color: #b3842e;
}
