/* PrincipalComponent--------------------------------------------------------------------------------- */
/* Estilo global para que el fondo cubra toda la página */
body,
html {
  height: 100%;
  background-color: #81c583;
  /* Fondo verde para toda la página */
}

/* Contenedor Principal */
.containerPrincipal {
  width: 100%;
  height: 100%;
  padding: 70px;
  border-radius: 10px;
  background-color: #81c583;
  /* Fondo verde del contenedor */
  box-shadow: none;
  /* Quitar sombra */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cabecera */
h1 {
  width: 100%;
  text-align: center;
}

/* Contenedor de Contenido */
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  /* Ajustar ancho para que no sobresalga */
}

/* Contenedor de Imagen */
.img-container {
  width: 480px;
  height: 530px;
  background-image: url('mapache.png');
  /* Reemplazar con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  margin: -50px;
  border-radius: 15px;
}

/* Contenedor de Formularios */
.form-containerPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  max-width: 400px;
}

/* Contenedor de título y botones combinados */
.title-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  /* Espacio entre el título y los botones */
}

.title {
  font-size: 52px;
  color: rgba(117, 66, 8, 0.904);
  font-weight: bold;
  font-style: italic;
}

/* Botones de Navegación */
.buttons-nav {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background-color: white;
  color: rgba(117, 66, 8, 0.904);
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.3em;
  border: 2px solid rgba(117, 66, 8, 0.904);
  border-radius: 8px;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: rgba(117, 66, 8, 0.904);
  color: white;
}

/* Botones de Acción */
.buttons {
  margin-top: 15px;
  /* Ajustar espacio entre botones */
  display: flex;
  gap: 20px;
}

.register-btn,
.inicio-sesion-btn {
  background-color: #d4a017;
  color: white;
  padding: 10px 20px;
  border: 2px solid #8e6b23;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.register-btn:hover,
.inicio-sesion-btn:hover {
  background-color: #b3842e;
}

/*SERVICIOSCOMPONENT-------------------------------------------------------------------------------------*/
.containerServicios {
  width: 100%;
  height: auto;
  /* Ocupa la altura necesaria para mostrar el contenido */
  background-color: #81c583;
  /* Fondo verde */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

/* Header: Logo, Navegación y Cerrar Sesión */
.header-containerS {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-containerS {
  width: 240px;
  height: 240px;
  background-image: url('mapache.png');
  /* Reemplazar con la ruta de tu imagen */
  background-size: contain;
  position: absolute;
  left: 20px;
  top: 5px;
}

.nav-containerS {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
  /* Posiciona el botón de manera absoluta */
  top: 50px;
  /* Ajusta la distancia desde la parte superior */
  right: -300px;
  margin: 50px;
}

.nav-btnS {
  text-decoration: none;
  padding: 10px;
  border: 2px solid rgba(117, 66, 8, 0.904);
  background-color: white;
  font-weight: bold;
  color: rgba(117, 66, 8, 0.904);
  border-radius: 3px;
  font-size: 1.3em;
}

.nav-btnS:hover {
  background-color: #d4a017;
}

.close-btnS {
  background-color: hsl(0, 100%, 40%);
  color: white;
  padding: 6px;
  border: 1px solid black;
  font-size: 1.3em;
  text-align: left;
  position: absolute;
  top: 80px;
  right: 190px;
}

.servicio {
  height: 100px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: rgb(2, 70, 66);
  margin: 52px;
}

.servicio-container1 {
  width: 350px;
  height: 200px;
  background-image: url('cortes.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: -10px;
  right: 60px;
}

.servicio-container2 {
  width: 256px;
  height: 200px;
  background-image: url('afeitado.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: -10px;
  right: 60px;
}

.servicio-container3 {
  width: 170px;
  height: 200px;
  background-image: url('barba.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: -10px;
  right: 60px;
}

.servicio-container4 {
  width: 300px;
  height: 200px;
  background-image: url('tratamientos.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.servicio-container5 {
  width: 300px;
  height: 200px;
  background-image: url('facial.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.servicio-container6 {
  width: 130px;
  height: 195px;
  background-image: url('corte_escolar.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: -10px;
  right: 60px;
}

/* Contenido Principal */
.content-containerS {
  text-align: left;
}

.titleS {
  font-size: 45px;
  font-style: italic;
  color: rgba(117, 66, 8, 0.904);
  font-weight: bold;
  margin-bottom: -40px;
  text-align: left;
  position: relative;
  top: -10px;
  right: 60px;
}



/*---------------------------------------------------------------------------------------------------*/
/*UBICACIONCOMPONENT*/
.containerUbicacion {
  width: 100%;
  height: 100px;
  /* Ocupa toda la altura de la pantalla */
  background-color: #81c583;
  /* Fondo verde */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Header: Logo, Navegación y Cerrar Sesión */
.header-containerU {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
}

.logo-containerU {
  width: 240px;
  height: 240px;
  background-image: url('mapache.png');
  /* Reemplazar con la ruta de tu imagen */
  background-size: contain;
  position: absolute;
  left: 30px;
  top: 10px;

}

.nav-containerU {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
  /* Posiciona el botón de manera absoluta */
  top: 50px;
  /* Ajusta la distancia desde la parte superior */
  right: -280px;
}

.nav-btnU {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid rgba(117, 66, 8, 0.904);
  background-color: white;
  font-weight: bold;
  color: rgba(117, 66, 8, 0.904);
  border-radius: 3px;
  font-size: 1.3em;
}

.nav-btn:hover {
  background-color: #d4a017;

}

.close-btnU {
  width: 200px;
  padding: 10px;
  margin: 0 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #dc3545;
}

.close-btnU:hover {
  color: white;
  text-decoration: none;
}

/* Contenido Principal */
.content-containerU {
  text-align: center;
  margin-bottom:  100px;
}

.titleU {
  font-size: 50px;
  font-style: italic;
  color: rgba(117, 66, 8, 0.904);
  font-weight: bold;
  margin-bottom: 30px;
}

.subtitleU {
  font-size: 40px;
  font-style: italic;
  color: #2f4f4f;
  margin-bottom: 20px;
}

.addressU,
.contactU {
  font-size: 30px;
  font-style: italic;
  color: #2f4f4f;
  margin: 5px 0;
}

/*-----------------------------------------------------------------------------------------*/

body {
  background-color: #81c583;
  color: rgba(117, 66, 8, 0.904);

}

/* Registro */
.containerRegistro {
  background-color: #81c583;
  padding: 0px;
  border-radius: 30px;
  box-shadow: 0 0 10px #81c583;
  width: 900px;
  display: flex;
}

.image-containerRegistro {
  flex: 1;
  background-image: url('mapache.png');
  background-size: 140%;
  background-position: center;
  border-radius: 10px;
  margin-right: 20px;
}

.form-containerRegistro {
  flex: 1;
}

.containerRegistro h2 {
  margin-bottom: 10px;
  font-size: 60px;
  text-align: center;
}

.card-bodyRegistro {
  width: 120%;
}

.form-groupRegistro {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.form-labelRegistro {
  width: 150px;
  margin-right: 20px;
  text-align: right;
  color: black;
}

.form-controlRegistro {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btnRegistro {
  width: 48%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-successRegistro {
  background-color: #28a745;
  color: white;
}

.btn-dangerRegistro {
  background-color: #dc3545;
  color: white;
}

.login-linkRegistro {
  margin-top: 10px;
  display: block;
  color: rgba(117, 66, 8, 0.904);
  text-decoration: underline;
  text-align: center;
}

.is-invalid {
  border-color: red;
}

/* Iniciar Sesión */
.containerInicioSesion {
  background-color: #81c583;
  padding: 80px;
  border-radius: 30px;
  box-shadow: 0 0 10px #81c583;
  width: 950px;
  display: flex;
}

.im-containerInicioSesion {
  flex: 1;
  background-image: url('mapache.png');
  background-size: 110%;
  background-position: right;
  border-radius: 10px;
  margin-right: 5px;
}

.form-containerInicioSesion {
  flex: 1;
}

.containerInicioSesion h2 {
  margin-bottom: 10px;
  font-size: 65px;
  text-align: left;
}

.card-bodyInicioSesion {
  width: 95%;
}

.form-groupInicioSesion {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.form-labelInicioSesion {
  width: 150px;
  margin-right: 20px;
  text-align: right;
  color: black;
}

.form-controlInicioSesion {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btnInicioSesion {
  width: 48%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center; 
  justify-content: center;
  text-align: center;
}
.btn-successInicioSesion {
  background-color: #28a745;
  color: white;
}

.btn-dangerInicioSesion {
  background-color: #dc3545;
  color: white;
}
.btn-dangerInicioSesion:hover {
  background-color: #c82333; 
  color: white;
  text-decoration: none;
}

.login-linkInicioSesion {
  margin-top: 10px;
  display: block;
  color: rgba(117, 66, 8, 0.904);
  text-decoration: underline;
  text-align: center;
}

/* Citas */
.containerCitas {
  background-color: #81c583;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px #81c583;
  width: 900px;
  position: relative;
}

.image-containerCitas {
  background-image: url('mapache.png');
  background-size: contain;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: -150px;
}
.headerCitas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menuCitas {
  flex: 1;
  display: flex;
  justify-content: center;
  color: rgba(117, 66, 8, 0.904);

}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

nav ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.904);
  border: 2px solid rgba(0, 0, 0, 0.904);
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.2em;
}

.logoutCitas {
  background-color: #dc3545;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.904);
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: -200px;
}


h1 {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 70px;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center; 
}

.form-containerCitas {
  display: flex;
  justify-content: space-between;
}

.form-columnCitas {
  display: flex;
  flex-direction: column;
  width: 45%;
  max-width: 100%; 
}

.form-groupCitas {
  width: 50%;
}

.form-groupCitas label {
  display: block;
  margin-bottom: 10px;
  color: #000000;
}

.form-groupCitas input,
.form-groupCitas select {
  width: 150%;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}


.form-groupCitas input[id="cost"] {
  height: 50px;
  width: 70%;
  padding: 12px;
}

.alert {
  color: #be0e0e;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn-containerCitas {
  display: flex;
  justify-content: center; 
  width: 100%;
  margin-top: 1%;
  padding: 10px;
}

.btncita {
  width: 200px; 
  padding: 10px;
  margin: 0 20px; 
  border: none;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
}

.btn-successCita {
  background-color: #28a745;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.904);
}

.btn-successCita:hover {
  background-color: #218838;
  color: white; 
  text-decoration: none; 
}

.btn-dangerCita {
  background-color: #dc3545;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.904);
}

.btn-dangerCita:hover {
  background-color: #c82333; 
  color: white;
  text-decoration: none;
}


/*Citas Registradas*/
.containerCitaR {
  background-color: #81c583;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px #81c583;
  width: 900px;
  position: relative;
  display: flex;
  justify-content: center;
  
}

.img-containerCitaR {
  background-image: url('mapache.png');
  background-size: contain;
  width: 550px;
  height: 550px;
  position: absolute;
  top: 30px;
  left: -300px;
  margin-right: 200px;
}
.form-containerCitaR {
  padding: 80px;
  width: 55%;
}
.text-alignR {
  text-align: center;
  margin-top: 50px;
}

.logoutCitasR {
  background-color: #dc3545;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.904);
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: -210px;
}